<div class="main-header">       
    <div class="header-size" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo" fxLayout="column" fxLayoutAlign="center end">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img src="assets/image.png" alt="">
            </div>
        </div>


        <div fxLayout="column" fxLayoutAlign="center end">
            <div class="nav-bar" fxLayout="row" fxLayoutAlign="space-around center" fxHide.sm="true" fxHide.xs="true">
                <button [routerLink]="['']" mat-stroked-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">home</button>
                <button [routerLink]="['aboutus']" mat-stroked-button routerLinkActive="active">about</button>
                <button [matMenuTriggerFor]="menu1" mat-stroked-button class="gallaries">
                    <div class="gallary-button">
                        <span>
                            Galleries 
                        </span>
                        <mat-icon>
                            expand_more
                        </mat-icon>
                    </div>
                </button>
                <button [routerLink]="['contact']" mat-stroked-button routerLinkActive="active">contact</button>
                <ng-container *ngIf="adminAuth">
                    <button [routerLink]="['admin']" mat-stroked-button routerLinkActive="active">Admin</button>
                </ng-container>
                
            </div>
            
            <mat-menu #menu1="matMenu">
                <div *ngFor="let route of routesNames | async">
                    <button mat-menu-item [routerLink]="['gallery',route.url]">{{route.name}}</button>
                </div>
            </mat-menu>
            <div  fxShow.sm="true" fxShow.xs="true" fxHide>
                <button mat-icon-button aria-label="Example icon-button with a heart icon"  [matMenuTriggerFor]="menu">
                    <mat-icon class="menu-button">menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</button>
                    <button mat-menu-item [routerLink]="['aboutus']" routerLinkActive="active">About</button>
                    <button mat-menu-item [matMenuTriggerFor]="gallery">Galleries</button>
                    <button mat-menu-item [routerLink]="['contact']" routerLinkActive="active">Contact</button>
                </mat-menu>
                <mat-menu #gallery="matMenu">
                    <button mat-menu-item *ngFor="let route of routesNames | async" [routerLink]="['gallery',route.url]">{{route.name}}</button>
                </mat-menu>
            </div>
            <div class="extra-padding-10"></div>
            <div class="social-icons">
                <a href="https://www.facebook.com/NLPphotoshop/about/" target="_blank">
                    <img src="assets/facebook.png" alt="facebook">
                </a>
                <a href="#">
                    <img src="assets/linkedin.png" alt="facebook">
                </a>
            </div>
            <div class="email">
                rohithnlp.me@gmail.com <a href="mailto:rohithnlp.me@gmail.com"><img src="assets/email.png" alt=""></a>
            </div>
        </div>


    </div>
</div>

