.main-header{
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 2px #ffffff;
    padding-top: 10px;
}
.background-nav-bar{
    display: flex;
}
.header-size{
    max-width: 1200px;
    margin: 0% auto;
    width: 100%;
}
.logo{
    p{
        color: #000000a1;
        font-size: 60px;
        margin: 20px 0px;
        // font-family: 'Noto Sans', sans-serif;
        // font-family: 'Poppins', sans-serif;
        // font-family: Montserrat,sans-serif;
        font-family: 'Baloo Bhai', cursive;
    }
    img{
        // padding: 5px 10px;
        width: 350px;
    }
}
.menu-button{
    color: black !important;
}
.nav-bar{
    text-transform: capitalize;
    flex: 0 1 auto;
}


.nav-bar button{
    width: 100px;
    font-size: 14px;
    height: 40px;
    font-weight: 600;
    color: #524343;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 10px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.5);
}

.social-icons{
    padding: 0px 15px;
}
.social-icons a{
    padding: 0px 2px;
    img{
        width: 24px;
    }
}
.email{
    padding: 10px 15px;
    font-size: 16px;
    img{
        width: 24px;
    }
}

@media only screen and (max-width:500px){
    .logo{
        p{
            color: #524343;
            font-size: 20px;
            // font-family: 'Noto Sans', sans-serif;
            font-family: 'Poppins', sans-serif;
        }
        img{
            width: 100%;
        }
    }   
}
.active{
    background: rgb(155, 149, 149) !important;
    color: white !important;
}
.gallaries{
    width: 120px !important;
}
.gallary-button{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
}