<div class="main-footer">
    <div class="footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="center" fxLayoutAlign.xs="center" fxLayoutAlign="space-between start" >
        <div>
            <div><mat-icon>my_location</mat-icon></div>
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <pre>
Madigan Studios, Inc
11925 N. Stemmons Fwy.
Suite 150
Dallas, TX 75234
            </pre>
        </div>
        <div>
            <div><mat-icon>stay_current_portrait</mat-icon></div>
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <div>8951024495</div>
        </div>
        <div>
            <div><mat-icon>email_outline</mat-icon></div>
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <div>sachinswapna143@gmail.com</div>
        </div>
        <div class="social-icons">
            <a href="#">
                <img src="assets/facebook.webp" alt="facebook">
            </a>
            <a href="#">
                <img src="assets/insta.webp" alt="facebook">
            </a>
        </div>
    </div>
</div>

