<div class="main-footer">
    <div class="footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="center" fxLayoutAlign.xs="center" fxLayoutAlign="space-between start" >
        <div>
            <img class="icons" src="assets/location.png" alt="Location">
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <pre>
Madigan Studios, Inc
11925 N. Stemmons Fwy.
Suite 150
Dallas, TX 75234
            </pre>
        </div>
        <div>
            <img class="icons" src="assets/phone.png" alt="Phone">
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <div class="text-data">8951024495</div>
        </div>
        <div>
            <img class="icons" src="assets/email.png" alt="email">
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <div class="text-data">sachinswapna143@gmail.com</div>
        </div>
        <div class="social-icons">
            <a href="#">
                <img class="social-icon" src="assets/facebook.png" alt="facebook">
            </a>
            <a href="#">
                <img class="social-icon" src="assets/linkedin.png" alt="instagram">
            </a>
        </div>
    </div>
</div>

