.main-footer{
    width: 100%;
    height: auto;
    background-color: #e3e3e3;
}
.footer{
    width: 100%;
    margin: 0% auto;
    max-width: 1000px;
    padding-top: 20px;
}
.social-icons{
    padding: 0px 10px;
}
.social-icons a{
    padding: 0px 2px;
}
pre{
    font-size: 15px;
    font-family: Roboto, Regular;
    padding: 0px 10px;
    margin: 0px;
    line-height: 25px;
}