<div class="main-footer">
    <div class="footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="center" fxLayoutAlign.xs="center" fxLayoutAlign="space-between start" >
        <div>
            <img class="icons" src="assets/location.png" alt="Location">
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <pre>
No 17 SK Lane near krumbigal 
Chikkamavalli Bangalore-560004
            </pre>
        </div>
        <div class="all">
            <img class="icons" src="assets/phone.png" alt="Phone">
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <div class="text-data"><a href="tel:9740903811">9740903811</a></div>
        </div>
        <div class="all">
            <img class="icons" src="assets/email.png" alt="email">
            <div fxFlex fxHide.sm="true" fxHide.xs="true"></div>
            <div class="text-data"><a href="mailto:rohithnlp.me@gmail.com">rohithnlp.me@gmail.com</a></div>
        </div>
        <div class="social-icons all">
            <a href="https://www.facebook.com/pg/NLPphotoshop/about/" target="_blank">
                <img class="social-icon" src="assets/facebook.png" alt="facebook">
            </a>
            <a href="#">
                <img class="social-icon" src="assets/linkedin.png" alt="instagram">
            </a>
        </div>
    </div>
</div>

