<div fxLayout="column" class="main-about">
    <div class="header">
        <p> Let’s get started</p>
    </div>

    <div class="desc" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" fxLayoutGap="20px">
        <div class="desc-image">
            <img src="https://static.wixstatic.com/media/bf9015_046b479f5b8f478892375957a5d6a577.jpg/v1/fill/w_170,h_236,al_c,lg_1,q_80/bf9015_046b479f5b8f478892375957a5d6a577.webp" alt="">
        </div>
        <div class="desc-text">
            <p>
                Rohith Kumar, A passion photographer and also was being IT professional with a different vision, A candid wedding photography has started his dream in 2019. He’s not only a passion photographer traveler, Loves and enjoys long drives.

WE’RE JUST LIKE THE OTHERS – WE OVER INDULGE, WE PAMPER, WE TAKE EXTRA CARE, WE take more care WHEN IT COMES TO DETAILS AND WE WANT YOUR magical moments TO BE THE BEST POSSIBLE EVENT IN YOUR LIFE AND WE WANT TO BE HERE TO ENSURE YOU GET RELIVE IT. WE OFFER PREMIUM WEDDING PHOTOGRAPHY THAT ARE LOCATION AGNOSTIC. We have worked with COUPLES TO HELP CAPTURE THEIR BEAUTIFUL DAY AND EACH ONE OF THEM HAVE BEEN VERY SPECIAL FOR US. TALK TO US TODAY FOR YOUR DREAM for more information.

 
            </p>
            <div class="extra-padding-10"></div>
            <div class="content">
                The Studio:
                <ul>
                    <li *ngFor="let set of sets">{{set}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>