.container {
    width: 100%;
    max-width: 1000px;
    margin: 0% auto;
}
.mat-form-field {
    width: 100%;
    max-width: 400px;
}
.upload-task{
    width: 100%;
    max-width: 400px;
    margin: 0% auto;
}
.space{
    margin: 5px 0px;
}
.extra-space{
    padding: 40px 0px;
}