<div class="main-home">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="home-header">
        <h1>Natural light photography(NLP)</h1>
        <p>
            Bedding, furniture, and product photography
        </p>

        <span>
            Capturing a magical moments called photography. We know you reserve "BEST MEMORIES". Our complete responsibilities is to capture your magical moments in the mode of photos as memories and deliver to you
        </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <h1>Galleries</h1>
        <div class="main-card">
            <div class="cards">
                <div *ngFor="let image of images" class="card">
                    <img [src]="image.img" alt="">
                    <div class="details">
                        <h4>{{image.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="main-div">
    <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/Layer.svg" alt="">
        <h1>
            Dallas Commercial Photo Studio
        </h1>

        <p>
            Bedding, furniture, and product photography
        </p>
    </div>
</div>
<div class="padding-10"></div>
<div class="first-block">
    <div class="img-first">
        <img src="assets/photo_1.svg" alt="">
    </div>
    <div class="text-first">
        <h1 class="head">
            <span class="blur-text">01.</span>
            NEETA SHANKAR PHOTOGRAPHY PRIVATE LIMITED
        </h1>
        <p>
            A photograph is, in reality, light frozen in time. So, it is hardly surprising that you want the best wedding photographers to preserve those timeless memories for you. Our tenacity towards delivering the top "Wedding Photography and Cinematography" experience to our clients makes us the perfect choice to treasure the magical moments of your big day.
        </p>
    </div>
</div> -->