<div class="main-home">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="home-header">
        <h1>Dallas Commercial Photo Studio</h1>
        <p>
            Bedding, furniture, and product photography
        </p>

        <span>
            Welcome to Madigan Studios! We are based in Dallas, Texas and shoot both studio and location photography. We specialize in bedding and furniture photography as well as large and small product. We are a modern digital studio that has a wide range of photographic capabilities. From children's bedding to adult bedding, dining rooms to lamps, flatware to electronics. If you need digital retouching done, including color correcting, we are staffed to handle your requests. The studio includes 30,500 square feet with a full set building shop, a 24’ cyclorama, full kitchen, client areas, prop areas, pressing rooms, and merchandise storage areas. This allows us to offer quick turn-around times and competitive pricing. We use the latest digital equipment and computers and deliver superior quality to all of our clients. Take a look around the website to see some of the work we’ve done, and feel free to contact us for an estimate on your next project.
        </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <h1>Galleries</h1>
        <div class="main-card">
            <div class="cards">
                <div *ngFor="let image of images" class="card">
                    <img [src]="image.img" alt="">
                    <div class="details">
                        <h4>{{image.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="main-div">
    <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/Layer.svg" alt="">
        <h1>
            Dallas Commercial Photo Studio
        </h1>

        <p>
            Bedding, furniture, and product photography
        </p>
    </div>
</div>
<div class="padding-10"></div>
<div class="first-block">
    <div class="img-first">
        <img src="assets/photo_1.svg" alt="">
    </div>
    <div class="text-first">
        <h1 class="head">
            <span class="blur-text">01.</span>
            NEETA SHANKAR PHOTOGRAPHY PRIVATE LIMITED
        </h1>
        <p>
            A photograph is, in reality, light frozen in time. So, it is hardly surprising that you want the best wedding photographers to preserve those timeless memories for you. Our tenacity towards delivering the top "Wedding Photography and Cinematography" experience to our clients makes us the perfect choice to treasure the magical moments of your big day.
        </p>
    </div>
</div> -->