<div class="main-div">
    <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/Layer.svg" alt="">
        <h1>
            Natural light photography(NLP)
        </h1>

        <p>
            Bedding, furniture, and product photography
        </p>
    </div>
</div>


<div class="padding-20-0"></div>

<div class="blocks">
    <ng-container *ngFor="let content of $content | async; let i=index; let even = even; let odd = odd">

        <div class="first-block"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayout.sm="column"
            fxLayout.xs="column"
            *ngIf="odd"
        >
            <div class="img-first" >
                <img class="side-img" [src]="content?.img" alt="">
            </div>
            <div class="text-first" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <h1 class="head">
                    <!-- <span class="blur-text">{{ i }}.</span> -->
                    {{content.header | uppercase}}
                </h1>
                <p>
                    {{content.content}}
                </p>
            </div>
        </div>
    
        <div class="padding-20-0"></div>
    
        
        <div class="second-block"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayout.sm="column-reverse"
            fxLayout.xs="column-reverse"
            *ngIf="even"
        >
            <div class="text-second" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                <h1 class="head">
                    <!-- <span class="blur-text">{{i}}.</span> -->
                    {{content.header | uppercase}}
                </h1>
                <p>
                    {{content.content}}
                </p>
            </div>
            <div class="img-second">
                <img class="side-img" [src]="content?.img" alt="">
            </div>
        </div>
        <div class="padding-20-0"></div>
    </ng-container>
    


    <!-- <div class="first-block" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.sm="column" fxLayout.xs="column">
        <div class="img-first" >
            <img class="side-img" src="assets/selfi.svg" alt="">
        </div>
        <div class="text-first" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <h1 class="head">
                <span class="blur-text">01.</span>
                NEETA SHANKAR PHOTOGRAPHY PRIVATE LIMITED
            </h1>
            <p>
                A photograph is, in reality, light frozen in time. So, it is hardly surprising that you want the best wedding photographers to preserve those timeless memories for you. Our tenacity towards delivering the top "Wedding Photography and Cinematography" experience to our clients makes us the perfect choice to treasure the magical moments of your big day.
            </p>
        </div>
    </div> -->

</div>

<div style="padding: 50px 0px;"></div>

<div class="main-enquiry">
    <div fxLayout="row" fxLayout.sm="column-reverse" fxLayout.xs="column-reverse">
        <div>
            <h1>Enquiry</h1>
            <form [formGroup]="enquiryFormGroup" (ngSubmit)="onSubmit(enquiryFormGroup.value)">
                
                <mat-form-field class="form-element" appearance="outline">
                    <input matInput placeholder="Name *" formControlName="name">
                    <mat-error *ngIf="!enquiryFormGroup.controls['name'].valid && enquiryFormGroup.controls['name'].touched">
                        {{ requiredAlert }}
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="form-element" appearance="outline">
                    <input matInput type="number" placeholder="Mobile Number *" formControlName="mobileNo">
                    <mat-error *ngIf="!enquiryFormGroup.controls['mobileNo'].valid && enquiryFormGroup.controls['mobileNo'].touched">
                        {{ requiredAlert }}
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="form-element" appearance="outline">
                    <input matInput type="email" placeholder="Email *" formControlName="email">
                    <mat-error *ngIf="!enquiryFormGroup.controls['email'].valid && enquiryFormGroup.controls['email'].touched">
                        {{ requiredAlert }}
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="form-element" appearance="outline">
                    <input matInput placeholder="Event *" formControlName="event">
                    <mat-error *ngIf="!enquiryFormGroup.controls['event'].valid && enquiryFormGroup.controls['event'].touched">
                        {{ requiredAlert }}
                    </mat-error>
                </mat-form-field>
    
                <div>
                    <button mat-stroked-button type="submit">Submit</button>
                </div>
    
            </form>
        </div>
        <div style="padding: 0px 20px;"></div>
        <div class="image">
            <img src="assets/enquiry.svg" alt="enquiry">
        </div>
    </div>
</div>

<div style="padding: 40px 0px;"></div>
